.Loading, .Login, .Register, .Error, .Welcome    {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 60%;
    min-height: 200px; 
    max-width: 400px;
    background-color: #32394D;
    color: #D8E6F3;
    margin: auto;
    margin-top: 50px;
    padding: 30px;
    border-radius: 15px;
}

.passwordRow {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
}

.Register .buttonRow {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 15px;
}

.Register button {
    margin-left: 10px;
}