.Tree {
    font-family: "Times New Roman";
    font-size: 18px;
    color: #D8E6F3;
    padding-left: 10px;
    cursor: pointer;
}

.nameRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1px;
    margin-bottom: 3px;
}

.open {
    background-color:  #D8E6F3;
    color: black;
    font-weight: 600;
    border-radius: 2px;
}

.selected {
    color: black;
}

.nameRow > * {
    margin-right: 5px;
}


.folderContents {
    padding-left: 10px;
}